<div class="container" ng-controller="MeowController">
   <div class="main-login">
      <form>
         <h1>Login</h1>

         <fieldset>
           <label for="mail">User:</label>
           <input  ng-model="username" type="text" id="username" name="user_email">

           <label for="password">Password:</label>
           <input  ng-model="password"  type="password" id="password" name="user_password">
         </fieldset>
         <p></p>
         <button   class="bform" type="submit">Submit</button>
      </form>
   </div>
</div>